doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical!
    p Gate wind, moonshine horses irrigation , with feed troughs cheep, or cabbage with pumpkin trees chicken.
    
